.grid-container {
    display: grid;
    grid-template-columns: 0.7fr 1.8fr;
    grid-template-rows: ;
    grid-template-areas: "c_categoria c_producto";
}

.c_categoria {
    grid-area: c_categoria;
}

.c_producto {
    grid-area: c_producto;
}

.card-deck .card {
    max-width: calc(25% - 30px);
}

#divCategoria {
    background-color: #33ff33;
}

#backColor {
    background-color: #e6ffee;
}
